@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .article {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0;
        height: 200px;
    }

    .article .article-image {
        width: 28%;
        aspect-ratio: 19 / 6;
    }

    .article .article-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        width: 70%;
    }

    .article .article-text .article-title {
        padding-block: 0;
    }

    .auth-section form {
        width: 50%;
    }
}

