@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .article {
        grid-template-columns: .6fr 1.4fr;
        gap: 1rem;
    }

    .auth-section form {
        width: 50%;
    }
}

