@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --background: #232C33;
    --text: #E0F2E9;
    --text-transparent: #E0F2E9A0;
    --primary: #826AED;
}

.btn {
    border: 0;
    outline: 0;
    padding: 0.5rem 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    text-transform: uppercase;
    border-radius: 3px;
    background: var(--primary);
    border: 1px solid transparent;
    color: var(--background);
}

.btn-outline {
    border: 1px solid var(--primary);
    background: transparent;
    color: var(--primary);
    transition: background ease-in-out .3s;
}

.btn-outline:hover {
    background: var(--primary);
    color: var(--text);
    border: 1px solid transparent;
}

.btn-full {
    width: 100%;
    padding: 1rem 1.5rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.link {
    color: var(--primary);
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: var(--text);
}

ul {
    list-style: none;
}

.input-field {
    width: 100%;
    border: 1px solid var(--text-transparent);
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    background: transparent;
    padding: 1rem 1.5rem;
    outline: 0;
    color: var(--text);
}

.input-field:focus {
    border: 1px solid var(--text);
}

.input-field:hover {
    border: 1px solid var(--primary);
}

body {
    background: var(--background);
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-block: 2rem;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Article */
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
    margin-block: .5rem;
}

.article img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.article-text .article-title {
    padding-block: .5rem;
}

.article .article-text .article-title h3 {
    font-size: 1.5rem;
}

.article .article-text .article-title .article-date {
    font-size: .8rem;
    color: var(--text-transparent);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.article .article-text .article-content p {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: justify3;
}

/* Login Page */
.auth-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.auth-section form h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.auth-section form p {
    font-weight: 'Open Sans', sans-serif;
    font-weight: 300;
    color: var(--text-transparent);
}